* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(153, 0, 0);
}

.cartao {
    width: 260px;
    height: 200px
}

.cartao-imagem {
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 219, 174);
}
.main {
    flex: 1;
}
  
.cabecalho-link{
color: antiquewhite;

}
.h1{
color: rgb(252, 252, 252);
font: size 18px;;
}

.footer{
    background-color: rgb(153, 0, 0);
    padding:15px 15px;
    color: rgb(153, 0, 0);
}

.cartao-interno{
    position: relative;
}